#folders
.git
.github
.husky
coverage
src
tests

#files
.commitlintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.nvmrc
.tsbuildinfo
jest.config.json
package-lock.json
tsconfig.json
tsconfig-build.json
